/*// think about expanding the website to mobile screen*/ 

body {
  margin: 0px;
}

  section {
     display: flex;
  }
  
  .infobar {
    flex: 1;
  }

  .GoogleMap {
    flex: 2;
  }

/*#GoogleMap{
 height: 100vh;
 width: 70vw;
}

#infobar{
  flex:1 ;
  float:left;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Welcome {
  order:1;
  flex-grow: 1;
}

.GoogleBtns{
  order:2;
  flex-grow: 1;
}

.BucketList {
  order: 3;
  flex-grow: 1;
}

.UserProgress {
  order: 4;
  flex-grow: 1;
}
*/
