/*// think about expanding the website to mobile screen*/ 

body {
  margin: 0px;
}

  section {
     display: flex;
  }
  
h2 {
  font-family: 'Berkshire Swash', cursive;
  color: #FFD700
}

p, button {
  font-family: 'Crimson Text', serif;
  colour:#FFD700;
}

#GoogleMap{
 flex: 2; 
 /*height: 100vh;
 width: 70vw;*/
 background-color: 1F5BBB
}

#infobar{
  flex:1 ;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: 68686A
}

.welcome {
  order:1;
  flex-grow: 1;
}

button {
  order:2;
  flex-grow: 1;
}

input {
  order: 3;
  flex-grow: 1;
}

.bucket_list {
  order: 4;
  flex-grow: 1;
}

.progress_bar {
  order: 4;
  flex-grow: 1;
}

