/*// think about expanding the website to mobile screen*/ 
body {
  margin: 1px;
  background-color: #6B7283;
}

section {
     display: flex;
  }


#GoogleMap {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex: 2; 
  }
  
h1 {
  font-family: 'Berkshire Swash', cursive;
  color: #FFD700;
  font-size: 28px;
  padding: 10px;
  margin-bottom: 15px;
}

p {
  font-family: 'Crimson Text', serif;
  color:#FFD700;
  font-size: 17px;
  margin-bottom: 15px;
  padding: 10px;
}

button {
  font-family: 'Crimson Text', serif;
  color: #6B7283;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FFD700;
  font-style: 17px;
  border-radius: 10px;
  padding: 1em 3em;
  border-size: 1px;
  font-weight: bold;
  margin-bottom: 15px;
}

button: hover {
  background-color: transparent;
  border: 0.15em #FFD700 solid;
  color: #FFD700;
}

button: active {
  background-color: transparent;
  border: 0.15em #329bd8 solid;
  color: #329bd8;
}

input {
font-family: 'Crimson Text', serif;
color: black;
text-decoration: none;
text-transform: uppercase;
background-color: white;
font-style: 17px;
border-radius: 10px;
padding: 1em 3em;
border-size: 1px;
font-weight: bold;
margin-bottom: 15px;
}


#infobar{
  display: flex;
  flex:1 ;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.welcome {
  order:1;
  flex-grow: 1;
}

.CurrentLocationBtn{
  order:2;
  flex-grow: 2;
}

.SearchLocation{
  order: 3;
  flex-grow: 1;
}

.bucket_list {
  order: 4;
  flex-grow: 1;
}

.progress_bar {
  order: 5;
  flex-grow: 1;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
   /* float: left;*/
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;

}
